* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   outline: 1px solid limegreen !important;
 */
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Oxygen', 'Segoe UI',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #005F9E;
  font-size: 4.7vmin;
  line-height: 6vmin;
  font-family: 'Mitr','MuseoModerno', sans-serif;
}

h2 {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-size: 3.5vmin;
  color: #6b5f6b;
}

hr {
  border-top: 1px dotted rgb(0, 115, 255);
}

.left5 {
  margin-left: 5px;
}

.right5 {
  margin-right: 5px;
}
.noLine {
  text-decoration: none;
}
#menu a.active {
  color: #078191;
  text-shadow: 0 0 2px #f5fff0, 0 0 3px #00fff2;
  top:-1.2px;
  position: relative;
}

#menu a.active::after {
  position: absolute;
  border-bottom: 4px solid #078191;
  left: -0px;
  width: 100%;
  bottom: 10px;
  content: '';
  transition: width .3s;
  display: flex;
  justify-content: center;
}

#menu a.active:hover:after {
	width: 0%;
	border-bottom: 4px solid #078191;
} 
/* after*/
.menu::after {
  position: relative;
  border-bottom: 4px solid #073e91;
  left: 10px;
  width: 0px;
  bottom: 30px;
  content: '';
  transition: width .3s;
  display: flex;
  justify-content: center;
}

.menu::after:hover {
  width: 100%;
  
  border-bottom: 4px solid #078191;
}

/* after

.contentGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}*/

canvas {
  border: 0px dotted red;
}

.chart-container {
  position: relative;
  margin: 5px;
  height: 500px;
  width: 90vw;
  max-width: 940px;
}



@media screen and (max-width: 768px) {
 /*  h1 {
    font-size: 1.7rem;
  } */

  .chart-container {
    width: 500px;
    max-width: 90%;
  }
}

@media screen and (max-width: 425px) {
 /*  h1 {
    font-size: 1.35rem;
  } */

    .chart-container {
      width: 300px;
      max-width: 90%;
    }
}

.select {
  height: 30px;
  border-radius: 25px;
  margin: 30px 10px 15px 12px;
  padding-left: 15px;
  padding-right: 12px;
}

.map {
  position: relative;
  z-index: 10;    
  height: 475px;
  width: auto;
}

.marker {
  font-size: 3rem;
  color: red;
}

.leaflet-container {
  font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif; 
  /* font-size: 12px; */
  font-size: 0.80rem;
  line-height: 1.5;
}

.pop {
  display: block;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.txtWhite {
  color: white;
}

.padRight {
  padding: 0 15px;
}
